

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 70, 83);
    margin-top: -11px;
    line-height: 80px;
    border: none;
}

h1{
    color: white;
    display: inline-block;
    font-size: 50px;
    margin-left: 20px;
}

.about {
    width: 700px;
    margin-left: 700px;
    display: flex;
}

.about div {
    border-style: solid;
    border-color: black;
    height: 200px;
    align-self: flex-end;
}

.about h2 {
    display: inline-block;
    margin-right: 15px;
    color: rgb(38, 70, 83);
    justify-content: flex-end;
    text-align: right;
    font-size: 40px;
}
ul {
    color: white;
    display: inline-block;
}

ul.nav {
    display: flex;
    justify-content: flex-end;
    padding-left: 0px;
    text-align: right;
}
  ul.nav li {
    display: inline-block;
    padding: 10px 20px;
}

body { 
    background-color: rgb(42, 157, 143);
}

.about {
display: flex;
}
.weather {
    display: inline-block;
    position: relative;
    text-align: right;
}
.weather img {
    width: 800px;

}
.weather-dashboard {
 position: absolute;
  bottom: 20px;
  right: 16px;
  color: rgb(38, 70, 83);
  font-size: 40px;
}

.password {
   
    position: relative;
    text-align: left;
}
.password-generator {
    position: relative;
    bottom:280px;
    right: -40px;
    color: rgb(38, 70, 83);
    font-size: 40px;
}
.password img {
  width: 400px;  
  
}


.quiz{
    
    position:relative
    
}
.code-quiz {
    position:;
    bottom:280px;
    left: 40px;
    color: rgb(38, 70, 83);
    font-size: 40px;
}
.quiz img {
  width: 400px;  
}


/* .weather section {
    display: inline-block;
    
}

.weather section p {
    font-size: 40px;
    color:rgb(38, 70, 83); */
}
/* .cheat-underline {
    margin: 0 ;
    padding: 0 50px 0 0;
    border-bottom: 2px black solid; */

}

/* .weather-image {
    border: 5px solid black;
    min-height: 250px;
    max-height: 250px;
    background-image: url("./images/weather.jpg");
    background-size: cover;
}

.weather-image h2{
    position: relative;
    top: 200px;
    color: white;
    padding: 20px;
    display: inline;
    background-color: black;
} */
