
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 70, 83);
    margin-top: -11px;
    line-height: 80px;
    border: none;
}

h1{
    color: white;
    display: inline-block;
    font-size: 50px;
    margin-left: 20px;
}

ul {
    color: white;
    display: inline-block;
}

ul.nav {
    display: flex;
    justify-content: flex-end;
    padding-left: 0px;
    text-align: right;
}
  ul.nav li {
    display: inline-block;
    padding: 10px 20px;
}


body { 
    background-color: rgb(42, 157, 143);
}

.about {
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.about p {
    display: inline-block;
    width: 500px;
    margin-left: 20px;
}

.avatar-img {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 50%;
    background-image: url("./images/self.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about h2 {
    
   
    color: rgb(38, 70, 83);
    display: inline-block;
    font-size: 40px;
}


.work-title h3 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color:rgb(38, 70, 83);
    margin-bottom: 10px;

}
  


.weather {
    display: flex;
    
    justify-content: center;
}

.weather-text {
    position: absolute;
    bottom: 50px;
    color: white;
    font-size: 45px;
    
  
    
    
}
.password-quiz {
    display:flex;
    justify-content: center;
}

.password-text {
    position: absolute;
    font-size: 35px;
    margin-left: -400px;
}

.code-text {
    position: absolute;
    font-size: 35px;
    margin-left: 400px;
    color: white;
}

.schedule {
    display: flex;
    justify-content: center;
}

.schedule-text {
    position: absolute;
    
}







footer h4 {
    font-size: 40px;
    color:rgb(38, 70, 83);
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    
   
}

.contact section {
    font-size: 20px;
    color: rgb(38, 70, 83);
}

